name: Build documentation and deploy to Pages

on:
  push:
    branches: ['master']
  workflow_dispatch: # Allows you to run this workflow manually from the Actions tab

# Allow one concurrent deployment
concurrency:
  group: 'pages'
  cancel-in-progress: true

jobs:
  # Build job
  build:
    # At a minimum this job should upload artifacts using actions/upload-pages-artifact
    # Specify runner + deployment step
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'
          cache: 'pip'
          cache-dependency-path: './doc/requirements.txt'
      - name: Install dependencies
        run: |
          pip install -r doc/requirements.txt
      - name: Build documentation
        run: |
          sudo apt install doxygen
          cd ./doc/
          make html
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./doc/build/html/
          retention-days: 8

  # Deploy job
  deploy:
    # Add a dependency to the build job
    needs: build
    if: github.repository_owner == 'OSSLibraries'

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source

    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    # Specify runner + deployment step
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
